@import url('Https://fonts.googleapis.com/css2?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: white;
    height: 100vh;
}
.dark-mode {
    background-color: white;
    color: black;
}
.dark-mode-wrapper {
    /* Add styles for the wrapper in dark mode */
    /* For example, you can change the border color to gray */
    
    background-color: white;
    color: #ffffff;
}
#wrapper{
    padding: 30px;
    width: 400px;
    display: grid;
    gap: 5px;
    border-radius: 10px;
    background-color: #303030;
}
header{
    display: grid;
    padding: 10px;
    gap: 10px;
    background-color: #222;
    border-radius: 10px;
}
header .up{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .down{
    display: flex;
    margin: auto;
}
.down .search{
    width: 320px;
    height: 30px;
    border-radius: 10px;
    background-color: #303030;
    padding: 10px;
    color: #ffffff;
}
.down .search::placeholder{
    padding: 10px;
}



.content{
    padding: 10px;
}
.content .inner-content{
    display: grid;
    gap: 10px;
}
ul{
    list-style: none;
    gap: 10px;
    display: grid;
}
li .up{
    display: flex;
    justify-content: space-between;
    
}
li{
    padding: 15px;
    font-size: 10px;
    display: grid;
    background-color: #222;
    border-radius: 10px;
}
li span:nth-child(2){
    background-color:blue;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    margin-top: 10px;
}
#add-book .add{
    width: 230px;
    height: 30px;
    background-color: #222;
    padding: 10px;
    color: #fff;
}
#add-book .add::placeholder{
    padding: 10px;
}
#add-book button{
    width: 90px;
    background-color: blue;
    color: white;
    font-weight: 600;
}



@media only screen and (max-width:700px){
    #wrapper{
        width: 350px;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    header{
        width: 300px;
    }
    header .up{
        width: 280px;
    }
    .down .search{
        width: 280px;
        height: 30px;
        border-radius: 10px;
        background-color: #303030;
        padding: 10px;
        color: #ffffff;
    }
    li{
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
    .content{
        width: 300px;
    }
    ul{
        width: 280px;
    }
}